<html>
<head class="text-center">
    <style>
        .container {
            text-align: center;
            font-style: initial;
            text-decoration-style: solid;
            background-color: blanchedalmond;
        }

        .btn-container {
            margin-top: 200px;
            margin-bottom: 200px;
            margin-right: 200px;
            margin-left: 200px;
            font-style: normal;
        }
    </style>
</head>
<body class="align-content-center">
    <div class="container">
        <h2 class="align-content-center">Welcome to The Student Portal</h2>
    </div>
    <div class="btn-container">
        <a href="Admin/SignUp"></a>
        <button class="btn-primary" onclick="window.location.href='/Admin/SignUp'" type="button" name="signUp" id="SignUp" value="SignUp">SignUp</button>
        <a href="Admin/Login"></a>
        <button class="btn-primary" onclick="window.location.href='/Admin/Login'" type="button" name="Login" id="Login" value="Login">Login</button>
    </div>
</body>
</html>
